<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--header-->
        <header>
            <img src="../static/logo.jpg" alt="logo">
            <div class="links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </header>
        <div class="search">
            <input type="text" placeholder="Search for a house ">
        </div>
        <section class="row_container">
            <div class="nav">
                <div class="side">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-left-circle-fill navigator" viewBox="0 0 16 16" id="back_btn">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                </div>
                <div class="side">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-right-circle-fill navigator" viewBox="0 0 16 16" id="forward_btn">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </div>
                
            </div>
            
            <div class="container">
                <div class="card">
                    <img src="../static/picture1.jpg" alt="1">
                    <h5>Appartement</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture2.jpg" alt="2">
                    <h5>Villa</h5>
                    <h4>140.000€</h4>
                    <h6>60 m^2</h6>
                    <p>1190 Forest</p>
                </div>
                <div class="card">
                    <img src="../static/picture3.jpg" alt="3">
                    <h5>Villa</h5>
                    <h4>300.000€</h4>
                    <h6>150 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture4.jpg" alt="4">
                    <h5>Appartement</h5>
                    <h4>200.000€</h4>
                    <h6>100 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture5.jpg" alt="5">
                    <h5>Maison</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture6.jpg" alt="6">
                    <h5>Appartement</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture7.jpg" alt="7">
                    <h5>Appartement</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture8.jpg" alt="8">
                    <h5>Maison</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture9.jpg" alt="9">
                    <h5>Appartement</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
                <div class="card">
                    <img src="../static/picture10.jpg" alt="10">
                    <h5>Appartement</h5>
                    <h4>250.000€</h4>
                    <h6>120 m^2</h6>
                    <p>1000 Bruxelles</p>
                </div>
            </div>
           
        </section>
        
        
        <script src="../static/js/script.js" async defer></script>
    </body>
</html>