<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Model 2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style2.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--header-->
        <header>
            <img src="../static/logo.jpg" alt="logo">
            <div class="links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            
            <div class="user">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                <div class="user_name">
                    <p>Hello, John Doe!</p>
                </div>
            </div>
        </header>
        
        <!--Background-->
        <img src="../static/picture3.jpg" alt="background" id="background">

        <!--Slider-->
        <section class="row_container">
            <div class="presentation">
                <h1 id="city">Bruxelles</h1>
                <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                
                <button>Explore</button>
                
            </div>
            
            
            <div class="container">
                <div class="cards">
                    <div class="card" data-bg="picture1.jpg" data-city="Waterloo" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed vulputate mi sit amet. Massa id neque aliquam vestibulum morbi blandit. Vitae tortor condimentum lacinia quis vel eros donec ac. Viverra aliquet eget sit amet tellus. Maecenas accumsan lacus vel facilisis. Nulla facilisi cras fermentum odio eu feugiat. Duis at tellus at urna condimentum mattis pellentesque id. Aliquet nec ullamcorper sit amet risus nullam eget. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. In ante metus dictum at tempor commodo. Id diam vel quam elementum pulvinar. Facilisis leo vel fringilla est ullamcorper.">
                        <div class="head">
                            <span class="city">Forest</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">350.000€</span>
                                <span class="rooms">3 bedrooms</span>
                            </div>
                            <img src="../static/picture1.jpg" alt="1" class=""> 
                        </div>
                        
                    </div>
                    <div class="card" data-bg="picture2.jpg" data-city="Brussels" data-desc="Sed vulputate mi sit amet. Massa id neque aliquam vestibulum morbi blandit. Vitae tortor condimentum lacinia quis vel eros donec ac. Viverra aliquet eget sit amet tellus. Maecenas accumsan lacus vel facilisis. Nulla facilisi cras fermentum odio eu feugiat. Duis at tellus at urna condimentum mattis pellentesque id. Aliquet nec ullamcorper sit amet risus nullam eget. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. In ante metus dictum at tempor commodo. Id diam vel quam elementum pulvinar. Facilisis leo vel fringilla est ullamcorper.">
                        <div class="head">
                            <span class="city">Brussels</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">420,000€</span>
                                <span class="rooms">4 bedrooms</span>
                            </div>
                            <img src="../static/picture2.jpg" alt="2" class="">
                        </div>
                    </div>
                    
                    <div class="card" data-bg="picture3.jpg" data-city="Village de Charme" data-desc="Belle maison de village située au cœur d'un charmant village. Idéale pour une vie paisible et proche de la nature. La maison est entourée d'un magnifique jardin et offre une vue pittoresque sur la campagne environnante.">
                        <div class="head">
                            <span class="city">Village de Charme</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">280,000€</span>
                                <span class="rooms">3 bedrooms</span>
                            </div>
                            <img src="../static/picture3.jpg" alt="3" class="">
                        </div>
                    </div>
                    <div class="card" data-bg="picture4.jpg" data-city="Village Pittoresque" data-desc="Cette charmante maison de village est nichée dans un village pittoresque entouré de montagnes. Elle offre une vue imprenable sur les sommets enneigés. Parfait pour les amoureux de la nature et de la tranquillité.">
                        <div class="head">
                            <span class="city">Village Pittoresque</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">320,000€</span>
                                <span class="rooms">2 bedrooms</span>
                            </div>
                            <img src="../static/picture4.jpg" alt="4" class="">
                        </div>
                    </div>
                    <div class="card" data-bg="picture5.jpg" data-city="Village Tranquille" data-desc="Maison de village dans un cadre paisible et tranquille. Profitez de la sérénité de la campagne tout en étant à proximité des commodités. Le jardin spacieux est idéal pour la détente en plein air.">
                        <div class="head">
                            <span class="city">Village Tranquille</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">250,000€</span>
                                <span class="rooms">3 bedrooms</span>
                            </div>
                            <img src="../static/picture5.jpg" alt="5" class="">
                        </div>
                    </div>
                    <div class="card" data-bg="picture6.jpg" data-city="Paris" data-desc="Appartement élégant situé au cœur de Paris, à proximité de la Tour Eiffel. L'appartement est spacieux et bénéficie d'une vue imprenable sur la ville lumière. Parfait pour profiter de la vie urbaine parisienne.">
                        <div class="head">
                            <span class="city">Paris</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">550,000€</span>
                                <span class="rooms">2 bedrooms</span>
                            </div>
                            <img src="../static/picture6.jpg" alt="6" class="">
                        </div>
                    </div>
                    <div class="card" data-bg="picture7.jpg" data-city="Barcelone" data-desc="Appartement moderne en plein centre de Barcelone, à quelques pas de la Rambla. L'appartement est lumineux et offre un design contemporain. Idéal pour vivre l'ambiance animée de la ville catalane.">
                        <div class="head">
                            <span class="city">Barcelone</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">450,000€</span>
                                <span class="rooms">3 bedrooms</span>
                            </div>
                            <img src="../static/picture7.jpg" alt="7" class="">
                        </div>
                    </div>
                                                                                             
                    <div class="card" data-bg="picture8.jpg" data-city="Amsterdam" data-desc="Appartement lumineux et spacieux à Amsterdam, près des canaux pittoresques. L'appartement offre une vue sur l'eau et est situé dans un quartier calme. Idéal pour profiter de la charmante atmosphère d'Amsterdam.">
                        <div class="head">
                            <span class="city">Amsterdam</span>
                            <div class="stars">
                                <div class="star">★</div>
                                <div class="star">★</div>
                                <div class="star">★</div>
                            </div>
                        </div>
                        <div class="infos">
                            <div class="more">
                                <span class="price">380,000€</span>
                                <span class="rooms">2 bedrooms</span>
                            </div>
                            <img src="../static/picture8.jpg" alt="8" class="">
                        </div>
                    </div>
                    
                    
                </div>
                <div class="nav">
                    <div class="side">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-left-circle-fill navigator" viewBox="0 0 16 16" id="back_btn">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                        </svg>
                    </div>
                    <div class="side">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-right-circle-fill navigator" viewBox="0 0 16 16" id="forward_btn">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                    </div>
                    
                </div>
                
            </div>
           
        </section>
        
        <!--read down tag :=) -->
        <footer>
            2023@Copyright j-hubert for ALT-F1
        </footer>
        <script src="../static/js/anime.min.js"></script>
        <script src="../static/js/script2.js" async defer></script>
    </body>
</html>